altgraph==0.17.2
cffi==1.15.1
future==0.18.2
pefile==2022.5.30
Pillow==9.2.0
pillow-heif==0.4.0
pycparser==2.21
pyinstaller==5.2
pyinstaller-hooks-contrib==2022.8
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqtdarktheme==1.1.0
pywin32-ctypes==0.2.0
